{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "new-cap": 0,
    "global-require": 0,
    "no-plusplus": 0,
    "react/no-danger": 0,
    "react/prefer-stateless-function": 0,
    "react/no-unused-state": 0,
    "no-multi-assign": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "no-unused-expressions": [
      2,
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 80]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack-common-config.js"
      }
    }
  }
}
